{% extends "base.html" %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <p><h1>Про наш ресторан</h1></p>

    <div class="card text-bg-dark mb-3" style="max-width: 100rem;">
        <div class="card-body">
            <h4 class="card-title">Класний ресторант зі стравами зі всього світу,</h4>
            <h4><p class="card-text">тут готують уявлені повара найсмачніші електроні страви с найкращими інгредієнтами із нулей та одиничок</p></h4>
        </div>
    </div>
{% endblock %}
